@model UniqueTrade_App.Models.ChangeTransactionPassModel
@using UniqueTrade_App.CommanFunction;
@{
    UserInfo userInfo = Common.CurrentUserInfo;
    ViewBag.Title = "create_txn_password";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<div class="main-content">

    <!-- begin::page-header -->
    <div class="page-header" data-backround-image="/Content/Dash/assets/media/image/image1.png">
        <div class="container-fluid d-md-flex justify-content-between">
            <h4 class="text-white">Change Transaction Password</h4>

        </div>
    </div>
    <!-- end::page-header -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card main_form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <h6 class="card-title text-white font-weight-bold">Change Transaction Password</h6>
                                <div class="form1">
                                    @if (TempData["ChangePassAlert"] != null)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible" style="color:white;">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    @TempData["ChangePassAlert"]

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @using (Html.BeginForm("create_txn_password", "MemberPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.ValidationSummary(true)

                                        <div class="form-group">
                                            <label>Old Transaction Password</label>
                                            @Html.PasswordFor(model => model.OldTranPass, new { @onkeypress = "return isPassword(event);", @class = "form-control", @placeholder = "Old Password" })

                                            @Html.ValidationMessageFor(model => model.OldTranPass, "", new { @class = "text-danger" })
                                        </div>
                                        <span id="useridname"></span>
                                        <div class="form-group">
                                            <label> New Transaction Password :</label>

                                            @Html.PasswordFor(model => model.NewTranPass, new { @onkeypress = "return isPassword(event);", @class = "form-control", @placeholder = "New password  " })

                                            @Html.ValidationMessageFor(model => model.NewTranPass, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            @Html.PasswordFor(model => model.ConfirmTranPass, new { @onkeypress = "return isPassword(event);", @class = "form-control", @placeholder = "Re-type new password" })

                                            @Html.ValidationMessageFor(model => model.ConfirmTranPass, "", new { @class = "text-danger" })
                                        </div>
                                        

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
