@*@using UniqueTrade_App.CommanFunction;*@
@model IEnumerable<UniqueTrade_App.Models.FundRequest>
@{
    //UserInfo userInfo = Common.CurrentUserInfo;
    ViewBag.Title = "fundRequest_history";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<!--#INCLUDE FILE= "header.asp"-->
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="">Fund Request Report</a></li>
                <li class="breadcrumb-item"><a href="/MemberPanel/index">Home</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fund Request Report</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>joining Date</th>
                                        <th>User ID</th>
                                        <th>Member Name</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int rows = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rows = rows + 1)</td>
                                            <td>@item.tdate</td>
                                            <td>@item.UserName</td>
                                            <td>@item.MEMB_NAME</td>
                                            <td>@item.EMAIL</td>
                                            <td>@item.MOBILENO</td>
                                            @*<td>$​ @item.amount</td>*@
                                            @*<td>@item.BTC_Type</td>*@
                                            <td>@item.flag</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#INCLUDE FILE= "footer.asp"-->



