@using UniqueTrade_App.CommanFunction;
@model UniqueTrade_App.Models.PINDETAILSMODEL
@{

    UserInfo userInfo = Common.CurrentUserInfo;
    ViewBag.Title = "Pin Transfer";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<section id="main-content" class=" ">
    <div class="wrapper main-wrapper row">

        <div class="col-xs-12">
            <div class="page-title">


                <div class="hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/MemberPanel/index"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#">PIN</a>
                        </li>
                        <li class="active">
                            <strong>PIN TRANSFER</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="col-12 col-md-6 col-md-offset-3 mt-25">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">PIN TRANSFER</h3>
                </div>
                <div class="card-body">

                    @if (TempData["TransferPinAlert"] != null)
                    {
                        if (TempData["TransferPinAlert"].ToString() != "1")
                        {
                            <div class="widget-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="error-box">
                                            <div class="alert alert-success">@TempData["TransferPinAlert"]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="widget-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="error-box">
                                            <div class="alert alert-success">Pin transfer Successfully</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @using (Html.BeginForm("Pin_transfer", "MemberPanel", FormMethod.Post, new { @class = "form-content", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)



                        <div class="form-group">
                            <label for="re_pwd">Amount </label>
                            @Html.DropDownListFor(model => model.amount,
                                            new List<SelectListItem> {
                                            new SelectListItem {Value="",Text="Select Amount" },
                                            new SelectListItem {Value="5000",Text="₹ 5000" },
                                            new SelectListItem {Value="10000",Text="₹ 10000" },
                                            new SelectListItem {Value="25000",Text="₹ 25000" },
                                            new SelectListItem {Value="50000",Text="₹ 50000" },
                                            new SelectListItem {Value="100000",Text="₹ 100000" },
                                        }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.amount)
                        </div>
                        <div class="form-group">
                            <label for="re_pwd">Pins Available </label>
                            @Html.TextBoxFor(model => model.Available_Pin, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(model => model.Available_Pin)
                        </div>
                        <div class="form-group">
                            <label for="re_pwd">User-ID </label>
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Username" })
                            @Html.ValidationMessageFor(model => model.username)
                            <span class="user_name" id="user_name"></span>
                        </div>


                        <div class="form-group">
                            <label for="re_pwd">Quantity </label>
                            @Html.TextBoxFor(model => model.Quantiy, new { @class = "form-control", placeholder = "Quantity" })
                            @Html.ValidationMessageFor(model => model.Quantiy)
                        </div>



                        <button type="submit" class="btn btn-info">Submit</button>
                    }
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>
</section>






<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $("#username").change(function () {
        var userID = $("#username").val();
        if (userID == "") {
            $("#user_name").html("");
        }
        else {
            $.get('@Url.Action("getUserDetails", "MemberPanel")?email=' + userID + '', function (result) {
                if (result.Memb_Name == "") {
                    $("#user_name").css("color", "red");
                    $("#user_name").html("User ID Invalid");
                }
                else {
                    $("#user_name").css("color", "green");
                    $("#user_name").html(result.Memb_Name);
                }
            });
        }
    });

    $("#amount").change(function () {
        var userID = $("#amount").val();

        if (userID == "") {
            $("#amount").html("");
        }
        else {
            $.get('@Url.Action("Getpincounts", "MemberPanel")?amount=' + userID + '', function (result) {
                if (result.Available_Pin == "") {
                    $("#Available_Pin").css("color", "red");
                    $("#Available_Pin").html("Pin Not Available");
                }
                else {
                    $("#Available_Pin").val(result.Available_Pin)
                }
            });
        }
    });
</script>
