@model IEnumerable<UniqueTrade_App.Models.ReportModel>
@{
    ViewBag.Title = "Royalty";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}





<section id="main-content" class=" ">
    <div class="wrapper main-wrapper row">

        <div class="col-xs-12">
            <div class="page-title">
                <div class="hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/MemberPanel/index"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#">Income</a>
                        </li>
                        <li class="active">
                            <strong>Rewards Income</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-12 mt-25">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Rewards Income</h3>
                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>User ID</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int rows = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(rows = rows + 1)</td>
                                    <td>@item.created_at</td>
                                    <td>@item.provide_by</td>
                                    <td>@item.provide_id</td>
                                    <td>₹ @item.amount</td>
                                    <td> @item.REMARK</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</section>
