@model IEnumerable<UniqueTrade_App.Models.WalletModel>
@{
    ViewBag.Title = "RoyaltyBonus";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<!--#INCLUDE FILE= "header.asp"-->
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Royal Blocks</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Royalty Bonus</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card tilebox-one">
                        <div class="card-header bg-warning">
                            <h3 class="card-title font-weight-medium">Royalty Bonus Income</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Date</th>
                                            <th>User Id</th>
                                            <th>User Name</th>
                                            <th> Income</th>
                                            @*<th>Level No</th>*@
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @{ int rows = 0;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(rows = rows + 1)</td>
                                                <td>@item.created_at</td>
                                                <td>@item.provide_by</td>
                                                <td>@item.provide_id</td>
                                                <td>BUSD @item.amount</td>
                                                @*<td> @item.level_no</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- end container-fluid -->

    </div> <!-- end content -->
    <!--#INCLUDE FILE= "footer.asp"-->
    @* ============================================================================================================================================== *@


    @*<div class="content-wrapper-scroll">
        <div class="content-wrapper">
            <div class="breadcrumb-container">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="icon-house_siding"></i><a href="/MemberPanel/Index">Home</a></li>
                    <li class="breadcrumb-item breadcrumb-active" aria-current="page">Royalty Bonus</li>
                </ol>
            </div>
            <div class="row gutters mt-5">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card gradient-teal">
                        <div class="card-header">
                            <div class="card-title">Royalty Bonus Income</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Date</th>
                                            <th>User Id</th>
                                            <th>User Name</th>
                                            <th> Income</th>
                                            @*<th>Level No</th>*
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int rows = 0;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(rows = rows + 1)</td>
                                                <td>@item.created_at</td>
                                                <td>@item.provide_by</td>
                                                <td>@item.provide_id</td>
                                                <td>TRX @item.amount</td>
                                                @*<td> @item.level_no</td>*
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>


                </div>



            </div>

        </div>


    </div>

    <!--#INCLUDE FILE = "footer-dash.asp"-->*@
