@model UniqueTrade_App.Models.TransactionModel
@using UniqueTrade_App.CommanFunction;
@{
    /**/

    UserInfo userInfo = Common.CurrentUserInfo;
    ViewBag.Title = "TopUp";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<!--#INCLUDE FILE= "header.asp"-->
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="">TopUp</a></li>
                <li class="breadcrumb-item"><a href="/MemberPanel/index">Home</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">TopUp</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            @if (TempData["TopUpAlert"] != null)
                            {
                                if (TempData["TopUpAlert"].ToString() != "1")
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-danger alert-dismissible" style="color:white;">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                @TempData["TopUpAlert"]
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-primary alert-dismissible text-success font-weight-bold">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                Activation is made  Successfully !!!
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @using (Html.BeginForm("TopUp", "MemberPanel", FormMethod.Post, new { @class = "forms-sample", enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label for="exampleInputPassword1">Select wallet By:</label>
                            @Html.DropDownListFor(model => model.USD_Amount,
                                 new List<SelectListItem> {
                                       new SelectListItem {Value="",Text="Select Topup Package" },
                                        new SelectListItem {Value="25",Text="25$" },
                                      new SelectListItem {Value="50",Text="50$" },
                                     new SelectListItem {Value="100",Text="100$" },
                                       new SelectListItem {Value="200",Text="200$" },
                                       new SelectListItem {Value="500",Text="500 $" },
                                       new SelectListItem {Value="1000",Text="1000$" },
                                       new SelectListItem {Value="5000",Text="5000$" },

                                     }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.USD_Amount)
                        </div>
                                <div class="mb-3">
                                    <label class="form-label">User Id</label>
                                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "ID", @class = "form-control input-defaul", @onchange = "getUserName()" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">User Name</label>
                                    <input type="text" class="form-control input-defaul" placeholder="User Name" id="sponsorName" value="@userInfo.memb_name" name="sponsorName" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Select Wallet </label>
                                    @Html.TextBoxFor(model => model.Fund_Wallet, new { @placeholder = "$ ", @class = "form-control input-defaul", @readonly = true })
                                    @Html.ValidationMessageFor(model => model.Fund_Wallet)
                                </div>
                                <button type="submit" class="btn text-white">Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#INCLUDE FILE= "footer.asp"-->



<script>
    function sub() {
        var a = $("#USD_Amount").val();
        var url = "/MemberPanel/TopUp";
        if (a < 100000) {
            alert('Enter Minimum Amount 1L.');
            window.location.href = url;
        }

    }
</script>




@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
                   $("#UserName").change(function () {
                       debugger
                       var userID = $("#UserName").val();
                       $.get('@Url.Action("SponcerDetails", "Home")?email=' + userID + '', function (result) {
                           if (result.Memb_Name == "") {
                               $("#useridname").css("color", "red");
                               $("#useridname").html("User Id is invalid");
                           }
                           else {
                               $("#useridname").css("color", "green");
                               $("#useridname").html(result.Memb_Name);
                           }
                       });
                   });
</script>

<script>

                    function getUserName() {
                        var spEmail = $("#UserName").val();
                        if (spEmail != "") {
                            $.get('@Url.Action("getFirstUser", "MemberPanel")?sp_user=' + spEmail + '', function (responce) {
                                if (responce.UserName == "") {
                                    $("#sp-invalid").css("display", "block");
                                }
                                else {
                                    //alert(responce.Memb_Name);
                                    $("#sponsorName").val(responce.Memb_Name);
                                }
                            });
                        }
                        else {
                            $("#sp-invalid").css("display", "none");
                            $("#Memb_Name").val('Invalid User');
                            $("#username").val('');
                        }
                    }
</script>

@* ======================================================================================================================================================= *@

